body {
  margin: 0;
  padding: 0;
}

.worksheet {
  max-width: 28em;
  margin: 0 auto 30px;
}
.worksheet {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4em, 1fr));
  grid-gap: 2em;
}

#timebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background-color: green;
  width: 100%;
}

#timebar.warn {
  background-color: #ffbf00;
}

#timebar.error {
  background-color: red;
}

.prob,
.prob input {
  font-family: 'Didact Gothic', Arial, sans-serif;
  font-size: 28pt;
}

.prob input {
  width: 1.15em;
  text-align: right;
  padding: 0 4px;
}

.prob {
  text-align:right;
  width: 1.5em;
  padding: 4px 0;
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 0.5em;
  color: #888;
}
.prob .op2 {
  margin-top: -6px;
}
.prob:focus-within {
  color: black;
  background-color:  #eee;
}
.current .op2 {
  border-color: black;
}
.prob div { padding-right: 0.25em; }
.prob .op2 { border-bottom: 2px solid #888; }
.correct { color: green; }
.incorrect { color: #800; background-color: #f77; }
.modal {
  font-family: 'Didact Gothic', Arial, sans-serif;
  font-size: 18pt;
  font-weight: bold;
  top: 40%;
  width: 100%;
  text-align: center;
  position: absolute;
  padding: 20px;
  display: none;
}
.modal div {
  padding: 5px 5px 10px 5px;
}
.win-message,
.errors-message,
.timeout-message {
  display: none;
}
.modal.perfect {
  color: white;
  background-color: green;
  display: block;
}
.modal.perfect .win-message {
  display: block;
}
.modal.sloppy {
  color: black;
  background-color: #f5c73f;
  display: block;
}
.modal.slow {
  color: white;
  background-color: red;
  display: block;
}
.modal.slow .timeout-message {
  display: block;
}
.modal.errors .errors-message {
  display: block;
}
